<%= render  "shared/errors", obj: @user %>
<div class="row">
  <div class="col-12">
    <%= form_for @user do |f|%>
      <div class="form-group">
        <%= f.label :username %>
        <%= f.text_field :username, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email,class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password,class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit submit, class: "btn btn-secondary" %>
      </div>
    <% end %>
    <div class="col-12 text-center">
      <%= link_to 'Cancel and return to articles', articles_path %>
    </div>
  </div>
</div>
